
#map {
    position: relative;
    width: 80%;
    height: 600px;
}

#too_many,
#no_elements {
    font: 16px sans-serif;
    position: absolute;
    z-index: 100000;
    height: 100%;
    width: 100%;
    background: white;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
}

/**
LEAFLET ICONS
*/

.pin {
    width: 20px;
    height: 20px;
    -webkit-border-radius: 50% 50% 50% 0;
    border-radius: 50% 50% 50% 0;
    position: absolute;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    left: 50%;
    top: 50%;
    margin: -20px 0 0 -20px;
}

.pin.highlight {
    background-color: #f5a021;
}

.pin:after {
    content: '';
    width: 6px;
    height: 6px;
    margin: 7px 0 0 7px;
    background: #2f2f2f;
    position: absolute;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
